body{background-color:#FF4D27 ;}
h1{color: #FFFFFF; font-family: Helvetica;font-size: 45px;}
p{color: #000000 ;font-family: Helvetica;font-size: 20px;}
a{text-decoration: none;}
a:hover{color: white;}
img{border-style: dotted; border-width: 3px;border-color: white;}